{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register with WebAuthn</h1>
    <button id="register-button">Register</button>

    <script script src="{% static 'webauthn/js/register.js' %}"></script>
    <script>
        document.getElementById('register-button').addEventListener('click', registerWebAuthn);
    </script>
</body>
</html>