@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
.wrapper{
    background: #ececec;
    padding: 0 20px 0 20px;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.row{
    padding: 50px !important;
    padding-top: 10px !important;

}

h1{
    color: #FFFFFF;
}

form{
    background-color: #2C2A24 !important;
    overflow: auto;    
}

label{
    color: #FFFFFF;
}

/* input[type=text], input[type=password], input[type=email], select option{
    background-color: #DAD4B5;
}


input[type=text], input[type=password], input[type=email], select option{
    background-color: #DAD4B5;
}

input:focus{
    background-color: #DAD4B5 !important;
} */









.row{
  width:  900px;
  height:550px;
  border-radius: 10px;
  background: #fff;
  padding: 0px;
  box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
}
@media only screen and (max-width: 768px){
    .row{
        max-width:420px;
        width: 100%;
    }
}

.login-btn{
    width: 10em;
    border: none;
    outline: none;
    height: 45px;
    background: #993333;
    border-radius: 5px;
    transition: .4s;
    color: #FFFFFF;
 }
 .login-btn:hover{
    background: #B83D3D;
    color: #FFFFFF;
 }